.DS_Store

# Maven build output
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Project Documentation & Local Configs (ignored as requested)
data.md
notes.md
application.properties.dev
food-delivery-app/src/main/java/com/mentorship/food_delivery_app/common/config/SecurityConfig.java
